body {
    background-color: aqua;
}

.welcome {
    text-align: center;
    background-color: navy;
    color: paleturquoise;
}

#intro {
    text-align: center;
}

#countdown {
    text-align: right;
}


.options {
    border-style: solid;
    margin: 2px;
}